<div class="email-signature1">
  <div class="signature-content">
    <div class="signature-details">
      <h2 class="title">{{name}}</h2>
      <span class="post">{{title}} / {{company}}</span>
    </div>
    <ul class="inner-content">
      <li><span class="fa fa-map-marker"></span> {{address}}</li>
      <li><span class="fa fa-mobile"></span> {{mobile}}</li>
      <li><span class="fa fa-phone"></span> {{office}}</li>
      <li><span class="fa fa-envelope"></span> {{email}}</li>
      <li><span class="fa fa-id-badge"></span> {{license}}</li>
      {{awards}}
    </ul>

    <!-- Inline Signature -->
    <div class="signature-svg">
      {{signature}}
    </div>
  </div>

  <div class="signature-img">
    <img src="https://www.w3schools.com/bootstrap/img_avatar4.png" alt="Profile">
  </div>

  <ul class="icon">
    <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
  </ul>
</div>
