<div class="email-signature1">
  <div class="signature-content">
    <div class="signature-details">
      <h2 class="title">{{name}}</h2>
      <span class="post">{{title}} / {{company}}</span>
    </div>
    <ul class="inner-content">
      <li><span class="fa fa-map-marker"></span> {{address}}</li>
      <li><span class="fa fa-mobile"></span> {{mobile}}</li>
      <li><span class="fa fa-phone"></span> {{office}}</li>
      <li><span class="fa fa-trophy"></span> {{awards}}</li>
      <li><span class="fa fa-id-badge"></span> License: {{license}}</li>
    </ul>
  </div>
</div>